// =========================
//     WIDTH & PADDING
// =========================

@mixin containerStyle {
  max-width: 1300px;
  margin: 0 auto;
}

// =========================
//         COLORS
// =========================

$orangeColor: #ff9c0b;
$blackColor: #000000;
$offBlackColor: #414141;
$whiteColor: #ffffff;
$offWhiteColor: #ffffffde;

// =========================
//         FONTS
// =========================

$titleFont: "Poppins";
$otherFont: "Lato";

// =========================
//         MIXIN
// =========================

@mixin h1Style {
  font-family: $titleFont;
  font-style: normal;
  font-size: 43px;
  font-weight: 700;
  line-height: 47px;
  color: $blackColor;
}

@mixin h2Style {
  font-family: $titleFont;
  font-style: normal;
  font-size: 22px;
  line-height: 30px;
  color: $blackColor;
}

@mixin h3Style {
  font-family: $titleFont;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  color: #000000;
}

@mixin pStyle {
  font-family: $otherFont;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
  color: $offBlackColor;
}

@mixin buttonStyle {
  background-color: $orangeColor;
  color: $whiteColor;
  border-radius: 4px;
  padding: 14px 21px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
}

@mixin lineStyle {
  width: 60px;
  height: 2px;
  background-color: $orangeColor;
  margin-top: 5px;
  margin-bottom: 60px;
}
