// =========================
//     WIDTH & PADDING
// =========================

@mixin containerStyle {
  max-width: 1300px;
  margin: 0 auto;
}

@mixin sectionStyle {
  padding: 30px 30px 90px 30px;
}

// =========================
//         COLORS
// =========================

$orangeColor: #ff9c0b;

// =========================
//         FONTS
// =========================

// =========================
//         MIXIN
// =========================
