@import "../../../Variables/variables";

.supplements {
  background: url(../../../assets/Shop/supplement.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  margin-top: 111px;
}
