@import "../../Variables/variables";

.naviHeader {
  background-color: black;
  height: 37px;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    li {
      font-size: 14px;
      letter-spacing: 0.05em;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      padding: 5px 36px;
      padding-bottom: 8px;
    }

    a {
      text-decoration: none;
      color: white;
      background-color: black;
      border-top: 2.5px solid transparent;

      &.active {
        background-color: white;
        color: black;
        border-top: 2.5px solid $orangeColor;
      }
    }
  }
}
