@import "../../Variables/variables";

.pillarCard {
  display: flex;
  gap: 15px;
  width: 246.96px;
  margin-bottom: 60px;

  .pillarCardLeft {
    img {
      width: 27px;
      height: 27px;
    }
  }

  .pillarCardRight {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      font-family: $titleFont;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    p {
      font-family: "Lato";
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 24px;
      color: $offBlackColor;
    }
  }
}
