@import "../../Variables/variables";

.priceCard {
  position: relative;
  width: 285px;
  height: 470px;
  background: #f6f6f6;
  box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.37);
  border-radius: 10px;

  .priceCardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 24px;

    h4 {
      font-family: $titleFont;
      font-style: normal;
      font-weight: 800;
      font-size: 27px;
      line-height: 45px;
      color: #033ddc;
      border: 1px solid rgba(0, 0, 0, 0.151);
      border-radius: 50%;
      width: 50px;
      height: 48px;
      text-align: center;
    }

    h5 {
      font-family: $titleFont;
      font-style: normal;
      font-weight: 800;
      font-size: 21px;
      line-height: 45px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 30px;
    }

    .perks {
      display: flex;
      gap: 11px;
      align-items: center;
      margin-bottom: 22px;
      align-self: flex-start;
    }

    .checkIcon {
      width: 16px;
      height: 16px;
      opacity: 60%;
    }

    p {
      font-family: $otherFont;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.5px;
      text-transform: capitalize;
      color: #000000;
    }

    h6 {
      position: absolute;
      font-family: $titleFont;
      font-style: normal;
      font-weight: 800;
      font-size: 21px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      bottom: 90px;
    }

    button {
      @include buttonStyle();
      position: absolute;
      border-radius: 48px;
      width: 110px;
      height: 41px;
      padding: 8px 10px;
      font-size: 12px;
      bottom: 37px;
    }
  }
}
