@import "../../Variables/variables";

.heroSection {
  display: flex;
  gap: 180px;
  justify-content: space-between;
  align-items: center;

  .heroLeft {
    display: flex;
    margin-left: 113px;

    .orangeLine {
      width: 0px;
      height: 60px;
      border: 2px solid $orangeColor;
      margin-top: 41px;
      margin-right: 30px;
    }

    .heroLeftContent {
      h1 {
        @include h1Style();
      }
      p {
        @include pStyle();
        margin-top: 12px;
      }
      button {
        @include buttonStyle();
        margin-top: 60px;
        padding: 12px 21px;
      }
    }
  }

  .heroRight {
    margin-right: -20px;
    img {
      height: 580px;
    }
  }
}
