@import "../../Variables/variables";

.programs {
  display: flex;
  margin-top: 120px;
  align-items: center;
  gap: 45px;

  .programsLeft {
    display: flex;
    margin-left: 80px;
    h1 {
      @include h2Style();
      width: 150px;
    }

    img {
      margin-top: -30px;
      margin-left: -35px;
      width: 80.32px;
      height: 66.4px;
    }
  }

  .programsRight {
    display: flex;
    padding: 30px 80px;
    background-color: #e0f1ff;
    gap: 45px;
    border-radius: 20px;

    .programCategory {
      .categoryTop {
        display: flex;
        gap: 12px;
        margin-bottom: 15px;
        align-items: center;

        h3 {
          font-family: $titleFont;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.05em;
          text-transform: capitalize;
        }
      }

      p {
        font-family: $otherFont;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
        color: $offBlackColor;
        height: auto;
      }
    }

    .greyLine {
      width: 0px;
      height: 134px;
      border: 1px solid #bbc8d449;
      align-self: center;
    }
  }
}
